---
import ImageCarousel from "@src/components/utils/ImageCarousel.astro";

import uno from "@src/assets/carousel/image-1.webp";
import dos from "@src/assets/carousel/image-2.webp";
import tres from "@src/assets/carousel/image-3.webp";
import cuatro from "@src/assets/carousel/image-4.webp";

const images = [uno, dos, tres, cuatro];
---

<section id="hero" class="w-full h-dvh overflow-hidden">
  <ImageCarousel images={images} interval={5000} className="size-full">
    <div class="absolute size-full z-1 flex items-end justify-center">
      <div
        class="w-355 pb-10 flex flex-col gap-2 font-light text-yellow-50 font-playfair"
      >
        <h2 class="text-4xl drop-shadow-md drop-shadow-black">
          Diseño de Interiores <span class="font-serif">&</span> Visualización 3D
        </h2>
        <p class="text-xl drop-shadow-md drop-shadow-black">
          Diseñamos espacios que se sienten antes de construirse.
        </p>
      </div>
    </div>
  </ImageCarousel>
</section>
