---
import Left from "@src/assets/svg/left.astro";
import Rigth from "@src/assets/svg/right.astro";
---

<section id="bio" class="relative w-full h-dvh overflow-hidden">
  <div
    class="bio-track flex h-full transition-transform duration-500 ease-in-out"
  >
    <slot />
  </div>

  <button class="bio-prev left-4 button-slide">
    <Left class="size-14 text-white" />
  </button>

  <button class="bio-next right-4 button-slide">
    <Rigth class="size-14 text-white" />
  </button>

  <div class="bio-dots absolute bottom-6 left-1/2 -translate-x-1/2 flex gap-3">
  </div>
</section>

<script>
  import { initBio } from "@src/TypeScript/bio-carousel";
  initBio();
</script>
