---
import MaryLectora from "@src/assets/Mary/Home.webp";
---

<div class="min-w-full h-full flex">
  <article
    class="z-1 w-1/2 h-full flex flex-col gap-6 justify-center items-center"
  >
    <h2 class="text-4xl font-playfair w-3/4">
      Luméa es un estudio de diseño de interiores donde cada espacio se piensa,
      se visualiza y se define con intención.
    </h2>
    <div class="text-2xl w-3/4 space-y-5">
      <p>
        Creemos que un buen diseño comienza entendiendo a las personas y sus
        necesidades. Por eso, cada proyecto parte de un análisis cuidadoso del
        espacio, el uso y el estilo de vida del cliente.
      </p>
      <p>
        Nuestro proceso se apoya en la visualización 3D, una herramienta clave
        que nos permite mostrar el diseño con claridad antes de construirlo,
        evitando errores y facilitando la toma de decisiones.
      </p>
      <p>
        En Luméa trabajamos proyectos residenciales y comerciales, desarrollando
        propuestas de diseño, renders, mobiliario a medida y documentación
        técnica, siempre con un enfoque ordenado, estético y profesional.
      </p>
    </div>
  </article>
  <div class="w-1/2 h-full overflow-hidden">
    <img
      src={MaryLectora.src}
      alt="Ingeniera en muestra"
      class="inset-0 size-full object-cover object-center hover:scale-110 transition-all duration-200 ease-in-out"
    />
  </div>
</div>
