@import "tailwindcss";

@import "@fontsource/playfair-display/400.css";
@import "@fontsource/playfair-display/500.css";
@import "@fontsource/playfair-display/600.css";
@import "@fontsource/playfair-display/700.css";

@theme {
  --font-playfair: "Playfair Display", serif;
}

@layer utilities {
  .nav-container {
    --nav-opacity: 0;
    --nav-blur: 0px;

    background-color: rgba(0, 0, 0, var(--nav-opacity));
    backdrop-filter: blur(var(--nav-blur));
  }
  .nav-scrolled {
    --nav-opacity: 0.05;
    --nav-blur: 4px;
  }
  .shadow-block {
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, var(--shadow-strength, 0.4)));
    transition: filter 300ms ease;
  }
  .button-slide {
    @apply absolute top-1/2 -translate-y-1/2 z-10 text-white text-3xl hover:scale-110 active:scale-90 transition-all duration-150 ease-in-out rounded-full bg-black/10 backdrop-blur-lg border border-white hover:cursor-pointer
  }
}

html {
  scroll-behavior: smooth;
}