@import "tailwindcss";

@import "@fontsource/playfair-display/400.css";
@import "@fontsource/playfair-display/500.css";
@import "@fontsource/playfair-display/600.css";
@import "@fontsource/playfair-display/700.css";

@theme {
  --font-playfair: "Playfair Display", serif;
}

@layer utilities {
  .nav-container {
    --nav-opacity: 0;
    --nav-blur: 0px;

    background-color: rgba(0, 0, 0, var(--nav-opacity));
    backdrop-filter: blur(var(--nav-blur));
  }
  .nav-scrolled {
    --nav-opacity: 0.05;
    --nav-blur: 4px;
  }
}

html {
  scroll-behavior: smooth;
}