@import "tailwindcss";

@import "@fontsource/playfair-display/400.css";
@import "@fontsource/playfair-display/500.css";
@import "@fontsource/playfair-display/600.css";
@import "@fontsource/playfair-display/700.css";

@theme {
  --font-playfair: "Playfair Display", serif;
}

html {
  scroll-behavior: smooth;
}