---
import Layout from "@src/layouts/Layout.astro";
import Header from "@src/components/Header/Header.astro";
---

<Layout
  title="Sophie Canahualpa"
  description="Portfolio web de una gran diseñadora Gráfica"
>
  <Header slot={"header"} />
  <div slot={"main"} class="w-10/12 h-[50vh] bg-amber-300"></div>
</Layout>
