---
import Hovered from "@src/components/utils/Hovered.astro";
import ListNav from "@src/components/utils/List-Nav.astro";

import Lumea from "@src/assets/Lumea-logo.png";

const data = [
  {
    label: "Home",
    href: "#top",
  },
  {
    label: "Bio",
    href: "#bio",
  },
  {
    label: "Portafolio",
    href: "#portafolio",
  },
  {
    label: "Servicios",
    href: "#servicio",
  },
  {
    label: "Agenda",
    href: "#agenda",
  },
];
---

<section
  data-container-linkers
  class="nav-container fixed top-0 left-1/2 -translate-x-1/2 w-full h-auto flex items-center justify-center py-4 z-100 transition-all duration-300 ease-in-out"
>
  <div class="w-11/12 2xl:w-355 flex items-center justify-between">
    <div class="w-64 h-auto shadow-block">
      <img
        src={Lumea.src}
        alt="Logo de Portafolio"
        class="object-contain object-center size-full"
      />
    </div>

    <nav class="hidden lg:block mt-0 md:ml-10">
      <ListNav items={data} />
    </nav>
  </div>

  <Hovered />
</section>
