<div
  data-hover-menu
  class="hover-menu absolute left-(--left) top-(--top) w-(--width) h-(--height) transition-all duration-300 ease-in-out opacity-0 -z-10 pointer-events-none border-b-2 border-yellow-50"
>
</div>

<script>
  import { useHovered } from "@src/TypeScript/hovered";
  useHovered();
</script>
